 @font-face {
    font-family: Galien-Bold;
    src: url(img/header/fonts/Gilroy/Galien/Galien-Bold.ttf);
 }

 @font-face {
    font-family: Galien-BoldItalic;
    src: url(img/header/fonts/Gilroy/Galien/Galien-BoldItalic.ttf);
 }

 @font-face {
    font-family: Galien-Book;
    src: url(img/header/fonts/Gilroy/Galien/Galien-Book.ttf);
 }

 @font-face {
    font-family: Galien-BookItalic;
    src: url(img/header/fonts/Gilroy/Galien/Galien-BookItalic.ttf);
 }

 @font-face {
    font-family: Galien-Italic;
    src: url(img/header/fonts/Gilroy/Galien/Galien-Italic.ttf);
 }

 @font-face {
    font-family: Galien-Light;
    src: url(img/header/fonts/Gilroy/Galien/Galien-Light.ttf);
 }

 @font-face {
    font-family: Galien-LightItalic;
    src: url(img/header/fonts/Gilroy/Galien/Galien-LightItalic.ttf);
 }

 @font-face {
    font-family: Galien-Poster;
    src: url(img/header/fonts/Gilroy/Galien/Galien-Poster.ttf);
 }

 @font-face {
    font-family: Galien-Regular;
    src: url(img/header/fonts/Gilroy/Galien/Galien-Regular.ttf);
 }
 /* _______________________________________________________________________________________________________________ */
 @font-face {
    font-family: Gilroy-Black;
    src: url(img/header/fonts/Gilroy-Black.ttf);
 }

 @font-face {
    font-family: Gilroy-BlackItalic;
    src: url(img/header/fonts/Gilroy-BlackItalic.ttf);
 }

 @font-face {
    font-family: Gilroy-Bold;
    src: url(img/header/fonts/Gilroy-Bold.ttf);
 }

 @font-face {
    font-family: Gilroy-BoldItalic;
    src: url(img/header/fonts/Gilroy-BoldItalic.ttf);
 }

 @font-face {
    font-family: Gilroy-BoldItalic;
    src: url(img/header/fonts/Gilroy-ExtraBold.ttf);
 }

 @font-face {
    font-family: Gilroy-BoldItalic;
    src: url(img/header/fonts/Gilroy-ExtraBoldItalic.ttf);
 }

 @font-face {
    font-family: Gilroy-Heavy;
    src: url(img/header/fonts/Gilroy-Heavy.ttf);
 }

 @font-face {
    font-family: Gilroy-HeavyItalic;
    src: url(img/header/fonts/Gilroy-HeavyItalic.ttf);
 }

 @font-face {
    font-family: Gilroy-Light;
    src: url(img/header/fonts/Gilroy-Light.ttf);
 }

 @font-face {
    font-family: Gilroy-LightItalic;
    src: url(img/header/fonts/Gilroy-LightItalic.ttf);
 }

 @font-face {
    font-family: Gilroy-Medium;
    src: url(img/header/fonts/Gilroy-Medium.ttf);
 }

 @font-face {
    font-family: Gilroy-MediumItalic;
    src: url(img/header/fonts/Gilroy-MediumItalic.ttf);
 }

 @font-face {
    font-family: Gilroy-Regular;
    src: url(img/header/fonts/Gilroy-Regular.ttf);
 }

 @font-face {
    font-family: Gilroy-RegularItalic;
    src: url(img/header/fonts/Gilroy-RegularItalic.ttf);
 }
 @font-face {
    font-family: Gilroy-SemiBold;
    src: url(img/header/fonts/Gilroy-SemiBold.ttf);
 }

 @font-face {
    font-family: Gilroy-SemiBoldItalic;
    src: url(img/header/fonts/Gilroy-SemiBoldItalic.ttf);
 }

 @font-face {
    font-family: Gilroy-Thin;
    src: url(img/header/fonts/Gilroy-Thin.ttf);
 }

 @font-face {
    font-family: Gilroy-ThinItalic;
    src: url(img/header/fonts/Gilroy-ThinItalic.ttf);
 }

 @font-face {
    font-family: Gilroy-UltraLight;
    src: url(img/header/fonts/Gilroy-UltraLight.ttf);
 }

 @font-face {
    font-family: Gilroy-UltraLightItalic;
    src: url(img/header/fonts/Gilroy-UltraLightItalic.ttf);
 }
