* {
    margin: 0;
    padding: 0;
}

html {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
}

body {
    width: 1366px;
    max-width: 1366px;
    height: auto;
}

.navigation {
    height: 1200px;
    max-width: 1200px;
    height: 48px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}

.header_logo {
    margin-left: 20px;
}

.header_menu {
    margin-right: 20px;
}

.blockNewBox {
    max-width: 1366px;
    height: 768px;
}

.blockNewBg {
    position: absolute;
    max-width: 100%;
    height: 100%;
    width: 1366px;
    height: 768px;
    background: linear-gradient(0deg, #98C3E8 17.43%, rgba(152, 195, 232, 0) 39.71%);
    opacity: 0.2;
}

.blockNew {
    max-width: 1130px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.blockText {
    max-width: 510px;
    z-index: 2;
}

.NewAut {
    max-width: 510px;
    height: auto;
    font-family: Galien-Bold;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.02em;
    color: #1F3F68;
    margin-top: 57px;
}

.NewAutText {
    max-width: 425px;
    height: auto;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-top: 32px;
}

.SOP {
    width: 124px;
    height: 26px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0 auto;
}

.SeeOut {
    width: 220px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    border: none;
    margin-top: 71px;
}

.blockImg {
    position: absolute;
    right: 0;
    z-index: 1;
}

.illustration {
    max-width: 688px;
    max-height: 580px;
}

@media screen and (max-width: 666px) {
    .illustration {
        max-width: calc(420px + 268 * ((100vw - 320px) / (666 - 320)));
    }
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.infoBlock {
    max-width: 940px;
    min-height: 1162px;
    max-height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 180px;
}

.WhatWe {
    max-width: 358px;
    width: 100%;
    height: 138px;
    font-family: Gilroy-SemiBold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
}

.infoBlockCard {
    max-width: 380px;
    width: 100%;
    height: 525px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewhomepageImg2 {
    margin-top: 70px;
}

.NewhomepageImg3 {
    margin-top: 70px;
}

.Bring {
    width: 259px;
    height: 60px;
    font-family: Gilroy-Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-top: 51px;
}

.LoremText {
    width: 284px;
    height: 103px;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-top: 16px;
}

.arrowText {
    width: auto;
    height: 30px;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    display: flex;
    align-items: center;
    margin-top: 32px;
}

#infoBlockCard1,
#infoBlockCard2,
#infoBlockCard3 {
    position: absolute;
}

#infoBlockCard1 {
    top: 0;
    right: 0;
}

#infoBlockCard2 {
    top: 308px;
    left: 80px;
}

#infoBlockCard3 {
    right: 0;
    top: 637px;
}

@media screen and (max-width: 860px) {
    .infoBlock {
        max-width: 940px;
        height: auto;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #infoBlockCard1,
    #infoBlockCard2,
    #infoBlockCard3 {
        position: unset;
        margin-top: 40px;
    }

}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.OurFinished {
    max-width: 860px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    margin-top: 192px;
}

.OurFinishedName {
    width: auto;
    height: auto;
    font-family: Gilroy-SemiBold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.OurFinishedText {
    max-width: 540px;
    height: auto;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-left: 93px;
}

@media screen and (max-width: 600px){
    .OurFinished {
        flex-direction: column;
        align-items: center;
    }  
    .OurFinishedText {
        margin: 0 auto;
        text-align: center;
    } 
    
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */


.slider {
    max-width: 940px;
    height: 417px;
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%), url(img/img_Newhomepage/alberto-castillo-q-mx4mSkK9zeo-unsplash\ \(1\).png);
    margin-top: 96px;
    border-radius: 10px;
}
@media screen and (max-width: 600px){
    .slider {
        margin-top: 20px;
    }
}

.SmartHome{
    max-width: 341px;
    height: 46px;
    font-family: Gilroy-Medium;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 48px;
    right: 3.5%;
    z-index: 2;
}

.InMuarakana{
    max-width: 234px;
    height: 46px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.8;
    position: absolute;
    top: 102px;
    right: 3.5%;
    z-index: 2;
}

.sliderImg{
    max-width: 358px;
    max-height: 356px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 600px){
    .sliderImg{
        max-width: 320px;
        max-height: 356px;
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
    } 
}

.MoreSlider{
    max-width: 940px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 96px;
}

#MoreSliderSlid{
    max-width: 422px;
    width: 100%;
    height: 417px;
    border-radius: 10px;
}

.slider1{
    background-image: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%),url(img/img_Newhomepage/Dribble\ iphonex\ mockup\ \(1\).png);
}

.slider2{
    background-image: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%),url(img/img_Newhomepage/upload\ \(1\).png);
}

.MoreSliderName{
    margin-top: 24px;
    margin-left: 32px;
    font-family: Gilroy-Medium;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;    
}

.MoreSliderText{
    margin-top: 4px;
    margin-left: 32px;
    width: 100px;
    height: 46px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.8;
}

@media screen and (max-width: 850px){
    .MoreSlider{
        max-width: 940px;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        margin-top: 96px;
    }
    .slider2{
        margin-top: 30px;
    }
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.predFoter{
    max-width: 1366px;
    height: auto;
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
    margin-top: 192px;
}

.predFoterText{
    max-width: 860px;
    height: auto;
    display: flex;
    padding-left: 213px;
    padding-top: 96px;
}

.OurBeloved{
    width: 223px;
    height: 92px;
    left: 213px;
    top: 3708px;
    font-family: Gilroy-SemiBold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
}

.OurBelovedText{
    max-width: 540px;
    height: 80px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-left: 97px;
}

.predFoter8bloks{
    max-width: 945px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 111px;
}

.blocks{
    max-width: 235px;
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blockP1{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
#blockP2{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
#blockP3{
    border-right: 1px solid white;
    border-bottom: 1px solid white;

}
#blockP4{
    border-bottom: 1px solid white;
}
#blockP5{
    border-right: 1px solid white;
}
#blockP6{
    border-right: 1px solid white;
}
#blockP7{
    border-right: 1px solid white;
    border-left: 1px solid white;
}

@media screen and (max-width: 850px){
    #blockP4{
        border-right: 1px solid white;
    }
    #blockP5{
        border-bottom: 1px solid white;
    }
    #blockP6{
        border-bottom: 1px solid white;
    }
    #blockP3{
        border-right: none;
        border-bottom: 1px solid white;
    }
    #blockP6{
        border-right: none;
    }
    #blockP8{
        border-right: 1px solid white;
    }
    .predFoter8bloks{
        max-width: 945px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 111px;
        justify-content: center;
    }
}

@media screen and (max-width: 942px){
    #blockP2{
        
    }
    #blockP4{
        border-right: 1px solid white;
    }
    #blockP5{
        border-bottom: 1px solid white;
    }
    #blockP6{
        border-bottom: 1px solid white;
        border-right: none;
    }
    #blockP3{
        border-right: none;

    }
    #blockP8{
        border-right: 1px solid white;
    }
    .predFoter8bloks{
        max-width: 945px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 111px;
        justify-content: center;
    }
}


@media screen and (max-width: 1000px){
    .predFoter{
        max-width: 1366px;
        height: auto;
        background: #5A98D0;
        border-radius: 0px 0px 0px 0px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    
    .predFoterText{
        max-width: 860px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    
    .OurBeloved{
        width: 223px;
        height: auto;
        left: 213px;
        top: 3708px;
        font-family: Gilroy-SemiBold;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF; 
    }
    
    .OurBelovedText{
        max-width: 540px;
        height: auto;
        font-family: Gilroy-Regular;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.6;
        margin: 0 auto;
    }
    #blockP3{
        border-right: none;
    }
    #blockP4{
        border-right: 1px solid white;
    }
    #blockP5{
        border-bottom: 1px solid white;
    }
    #blockP6{
        border-bottom: 1px solid white;
        border-right: none;
    }
    #blockP8{
        border-right: 1px solid white;
    }
    #blockP7{
        border-left: none;
    }
}
@media screen and (max-width: 942px){
    #blockP7{
        border-left: 1px solid white;
    }
}

@media screen and (max-width: 706px){
    #blockP2{
        border-right: 1px solid #5A98D0;
        border-bottom: 1px solid white;
    }
    #blockP4{
        border-right: none;
    }
    #blockP5{
        border-bottom: 1px solid white;
    }
    #blockP6{
        border-bottom: 1px solid white;
    }
    #blockP3{
        border-right: none;
        border-bottom: 1px solid white;
    }
    #blockP6{
        border-right: none;
    }
    #blockP8{
        border-right: none;
    }
    #blockP3{
        border-right: 1px solid white;
        border-bottom: 1px solid white;
    }
    #blockP7{
        border-right: 1px solid white;
        border-left: none;
    }
    .predFoter8bloks{
        max-width: 945px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 111px;
        justify-content: center;
    }
    .predFoter{
        max-width: 1366px;
        height: auto;
        background: #5A98D0;
        border-radius: 0px 0px 0px 0px;
        margin-top: 52px;
    }
    
}
@media screen and (max-width: 471px){
    #blockP1{
        border-left: 1px solid white;
        border-bottom: 1px solid white;
    }
    #blockP2{
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    #blockP3{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    
    }
    #blockP4{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    #blockP5{
        border-left: 1px solid white;
    }
    #blockP6{
        border-left: 1px solid white;
        border-right: 1px solid white;

    }
    #blockP7{
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;

    }
    #blockP8{
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
}

@media screen and (max-width: 469px){
    #blockP3{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    
    }
    #blockP4{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
    .MoreSlider{
        max-width: 940px;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        margin-top: 40px;
    }
    
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.footer{
    max-width: 1270px;
    height: auto;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    margin-top: 96px;
    position: relative;
}

.Intersted{
    max-width: 317px;
    height: 92px;
    font-family: Gilroy-SemiBold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 91px;
    padding-left: 213px;
}

.InterstedText{
    max-width: 460px;
    height: 80px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;   
    padding-left: 213px;
    padding-top: 32px;
}

.Let’sBTN{
    position: absolute;
    top: 320px;
    right: 0px;
    margin-right: 197px;
    width: 220px;
    height: 56px;    
    background: #5A98D0;
    border-radius: 10px;
    border: none;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footerhr{
    max-width: 1073px;
    margin-top: 96px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}
/* <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& --> */
.footerContent{
    display: flex;
    max-width: 734px;
    margin-left: 216px;
}


.Afrianska{
    max-width: 300px;
    max-height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    margin-top: 97px;

}

.AfrianskaName{
    max-width: 300px;
    max-width: auto;
    display: flex;
}

.img_blog_logo{
    max-width: 48px;
    max-height: 48px;
}

.AfrianskaText{
    max-width: 125px;
    height: 46px;
    font-family: Gilroy-SemiBold;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 16px;
    
}

.A{
    max-width: auto;
    max-height: auto;
    display: flex;
    justify-content: start;
}

.Aa{
    max-width: 19px;
    height: 26px;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 31px;  
}

.AaText{
    max-width: 264px;
    height: 48px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 31px;
    margin-left: 16px;
}

.T{
    max-width: auto;
    max-height: auto;
    display: flex;
    justify-content: start;  

}

.Tt{
    max-width: auto;
    height: auto;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 24px;  
}

.TtText{
    max-width: auto;
    height: auto;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 24px;
    margin-left: 16px;
}
.E{
    max-width: auto;
    max-height: auto;
    display: flex;
    justify-content: start;
}
.Ee{
    max-width: auto;
    height: auto;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 24px;  
}

.EeText{
    max-width: auto;
    height: auto;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 24px;  
    margin-left: 16px;
}
/* <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& --> */
.AboutUS{
    max-width: 163px;
    max-height: auto;
    margin-left: 100px;
}

.AboutUSNameFT{
    max-width: 94px;
    height: 30px;
    font-family: Gilroy-SemiBold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 96px; 
}

.AboutFT,.WhatFT,.ProjectFT,.HowFT{
    max-width: auto;
    height: auto;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 16px;
}

.AboutFT{
    margin-top: 32px;
}
/* <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& --> */

.FollowUs{
    max-width: 163px;
    max-height: auto;
    margin-left: 77px;
}

.FollowUSFT{
    max-width: auto;
    height: auto;
    font-family: Gilroy-SemiBold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 96px; 
}

.Instagram,.Facebook,.LinkedIn,.Youtube{
    max-width: auto;
    height: auto;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 16px;
}

.Instagram{
    margin-top: 32px;
}

.copycon{
    max-width: 288px;
    height: 26px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;    
}

@media screen and (max-width: 920px){
    .footerContent{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        display: flex;
        max-width: 734px;
        margin: 0 auto;
    }
    .AboutUS{
        max-width: 163px;
        max-height: auto;
        margin-left: 0px;
    } 
    .FollowUs{
        max-width: 163px;
        max-height: auto;
        margin-left: 0px;
    }
    .Let’sBTN {
        position: absolute;
        top: 320px;
        right: 30%;
        margin-right: 0px;
        width: 220px;
        height: 56px;    
        background: #5A98D0;
        border-radius: 10px;
        border: none;
        font-family: Gilroy-Regular;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .Intersted{
        max-width: 317px;
        height: 92px;
        font-family: Gilroy-SemiBold;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        padding-top: 91px;
        padding-left: 80px;
    }
    
    .InterstedText{
        max-width: 460px;
        max-height: auto;
        font-family: Gilroy-Regular;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.6;   
        padding-left: 80px;
        padding-top: 32px;
    }

    .copycon {
        max-width: 288px;
        height: 26px;
        font-family: Gilroy-Regular;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.4;
        margin: 0 auto;
        margin-top: 15PX;
    }

    .FollowUSFT{
        max-width: auto;
        height: auto;
        font-family: Gilroy-SemiBold;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-top: 30px; 
    }

    .AboutUSNameFT {
        max-width: 94px;
        height: 30px;
        font-family: Gilroy-SemiBold;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-top: 30px;
    }

}

@media screen and (max-width: 420px){
    .AboutUS{
        max-width: 163px;
        max-height: auto;
        margin-left: 0px;
    } 
    .FollowUs{
        max-width: 163px;
        max-height: auto;
        margin-left: 0px;
    }
}

@media screen and (max-width: 450px){
    .Intersted {
        padding-left: 25px;
        font-size: 28px;
    }
    .InterstedText {
        padding-left: 25px;
        font-size: 14px;
    }
}
