body{
    background-color: cyan;
    margin:0;
}
.news{
    max-width:960px;
    min-width:320px;
    height:400px;
    background-color: #fff;
    margin:50px auto;
    border:1px solid grey;
    display: flex;
    flex-wrap: wrap;
    
}
.section{
    width:270px;
    height:80px;
    background-color: yellow;
    float:left;
    margin-left:8px;
    margin-bottom: 8px;
    margin-top:8px;
    position:relative;
}
.text{
    position:absolute;
    left:80px;
    top:8px;
}
p{
    margin:10px;
    
}