* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    max-width: 1366px;
    min-width: 720px;
    height: auto;
    background-color: white;
}

.header {
    width: 1366px;
    min-width: 720px;
    height: 768px;
    background: linear-gradient(0deg, rgba(152, 195, 232, 100%) -100%, rgba(152, 195, 232, 0%)100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.navigation {
    width: 1200px;
    min-width: 720px;
    min-width: auto;
    height: 48px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}

.header_logo {
    margin-left: 50px;
}

.header_menu {
    margin-right: 50px;
}

.content_header {
    width: 1200px;
    height: 580px;
    margin: 0 auto;
    position: relative;
}

#illustration {
    position: absolute;
    right: 0px;
}

.NewAut {
    width: 510px;
    height: 148px;
    font-size: 64px;
    font-family: Galien-Bold;
    color: #1F3F68;
    margin-left: 119px;
    margin-top: 42px;
}

.Lorem1 {
    width: 425px;
    height: 82px;
    font-size: 16px;
    font-family: Gilroy-Regular;
    margin-top: 32px;
    margin-left: 120px;
    letter-spacing: 0.05em;
}

.btnContentHeader {
    width: 220px;
    height: 56px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-family: Gilroy-Regular;
    box-shadow: 5px 10px 20px 0 rgba(53, 110, 173, 20%);
    text-align: center;
    background-color: #5A98D0;
    margin-left: 113px;
    margin-top: 71px;
}

/* ____________________________________________________________________________________________________________________ */
.content {
    width: 1366px;
    height: 2844px;
    position: relative;
    display: flex;
    justify-content: center;
}

.boxContent {
    width: 940px;
    height: 1162px;
    position: absolute;
    top: 180px;
}

.textContent1 {
    width: 358px;
    height: 138px;
    font-size: 36px;
    letter-spacing: 0.05em;
    font-family: Gilroy-SemiBold;
    color: #316099;
}

.cado {
    width: 380px;
    height: 525px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

#cadoPNG {
    width: 224px;
    height: 197px;
}

.cadoName {
    width: 259px;
    height: 60px;
    letter-spacing: 0.05em;
    font-size: 20px;
    margin-top: 51px;
    margin-right: 30px;
    font-family: Gilroy-SemiBold;
}

.cadoText {
    width: 284px;
    height: 103px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.cadoMore {
    display: flex;
    align-items: center;
    width: 127px;
    height: 30px;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-top: 32px;
    margin-right: 150px;
    font-family: Gilroy-SemiBold;
    color: #5A98D0;
}

#cadoArrowIMG {
    margin-left: 15px;
}

#cado1 {
    position: absolute;
    top: 0px;
    right: 0px;
}

#cado2 {
    position: absolute;
    top: 308px;
    right: 480px;
}

#cado3 {
    position: absolute;
    top: 635px;
    right: 0px;
}

.boxContent2 {
    width: 940px;
    height: 1118px;
    position: absolute;
    top: 1534px;
}

.boxContenTop {
    display: flex;
    flex-direction: row;
}

.slaidName {
    width: 227px;
    height: 92px;
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 46px;
    font-family: Gilroy-SemiBold;
    color: #1F3F68;
}

.slaidText {
    width: 520px;
    height: 80px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-left: 93px;
    line-height: 26px;
}

.slidBox {
    display: flex;
    width: 940px;
    height: 417px;
    margin-top: 96px;
    border-radius: 10px;
    background-image: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%), url(img/content/alberto-castillo-q-mx4mSkK9zeo-unsplash.png);
}

#slidBoxIMG {
    margin-top: 71px;
}

.slidName {
    width: 341px;
    height: 46px;
    font-family: Gilroy-Medium;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: 193px;
    margin-top: 48px;
}

.slidText {
    width: 234px;
    height: 46px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.8;
    margin-left: 285px;
}

.slidCado {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 417px;
    margin-top: 96px;
}

.scado1 {
    border-radius: 10px;
    width: 422px;
    height: 417px;
    background-image: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%), url(img/content/Dribble\ iphonex\ mockup.png);
}

.scado2 {
    border-radius: 10px;
    width: 422px;
    height: 417px;
    background-image: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%), url(img/content/upload.png);
}

.sname {
    margin-top: 24px;
    margin-left: 32px;
    font-family: Gilroy-Medium;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.stxt {
    height: 46px;
    margin-top: 4px;
    margin-left: 32px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.8;
}

.footer {
    width: 1366px;
    height: 1549px;
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
    position: relative;
}

.footerBox1 {
    width: 1366px;
    height: 680px;
}

.footerBoxName {
    position: absolute;
    width: 223px;
    height: 92px;
    margin-top: 96px;
    left: 213px;
    font-family: Gilroy-SemiBold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footerBoxText {
    position: absolute;
    width: 540px;
    height: 80px;
    left: 533px;
    top: 96px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.footeCadoBox {
    position: absolute;
    width: 960px;
    height: 256px;
    display: flex;
    flex-wrap: wrap;
    left: 213px;
    top: 299px;
}

.fcado {
    width: 235px;
    height: 128px;
    background-color: #5A98D0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy-SemiBold;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: white;
}

#fcado1 {
    border-bottom: 1px solid #FFFFFF;
    border-right: 0.5px solid rgba(255, 255, 255, 1);

}

#fcado2 {
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

#fcado3 {
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

#fcado4 {
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;

}

#fcado5 {
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;


}

#fcado6 {
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;

}

#fcado7 {
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;

}

#fcado8 {
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    background: #1F3F68;
    opacity: 0.2;
    color: white;
}

.footerBottom {
    width: 1270px;
    height: 869px;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    position: relative;
}

.footerBottomName {
    width: 317px;
    height: 92px;
    font-family: Gilroy-SemiBold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 91px;
    left: 213px;
}

.footerBottomTetx {
    width: 460px;
    height: 80px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    position: absolute;
    top: 215px;
    left: 213px;

}

.footerBottomBTN {
    width: 220px;
    height: 56px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: #5A98D0;
    border-radius: 10px;
    border: none;
    color: white;
    position: absolute;
    right: 197px;
    top: 165px;
}

.hr {
    width: 1073px;
    position: absolute;
    top: 391px;
    left: 0;
}

.footerBottomBox {
    width: 737px;
    height: 318px;
    position: absolute;
    left: 213px;
    top: 487px;
}

.footerBottomBoxColumn1 {
    width: 737px;
    height: 48px;
}

#fbbhn1 {
    position: absolute;
    width: 125px;
    height: 46px;
    font-family: Gilroy-SemiBold;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    left: 64px;
    top: 8px;
}

.A {
    position: absolute;
    width: 19px;
    height: 26px;
    left: 0px;
    top: 87px;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.T {
    position: absolute;
    width: 19px;
    height: 26px;
    left: 0px;
    top: 159px;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.E {
    position: absolute;
    width: 19px;
    height: 26px;
    left: 0px;
    top: 209px;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.AT {
    position: absolute;
    width: 264px;
    height: 48px;
    left: 36px;
    top: 87px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.TT {
    position: absolute;
    width: 264px;
    height: 48px;
    left: 35px;
    top: 159px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.ET {
    position: absolute;
    width: 264px;
    height: 48px;
    left: 36px;
    top: 209px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.copycon {
    position: absolute;
    width: 288px;
    height: 26px;
    left: 0px;
    top: 299px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.footerBottomBoxColumn2 {
    width: 163px;
    height: 214px;
    position: absolute;
    left: 400px;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.footerBottomBoxColumn2Name {
    width: 94px;
    height: 30px;
    font-family: Gilroy-SemiBold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footerBottomBoxColumn2Text1 {
    width: 49px;
    height: 26px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 32px;
}

.footerBottomBoxColumn2Text {
    width: auto;
    height: 26px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 16px;
}

/* --------------------------- */

.footerBottomBoxColumn3 {
    width: 163px;
    height: 214px;
    position: absolute;
    left: 640px;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.footerBottomBoxColumn3Name {
    width: auto;
    height: 30px;
    font-family: Gilroy-SemiBold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footerBottomBoxColumn3Text1 {
    width: 49px;
    height: 26px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 32px;
}

.footerBottomBoxColumn3Text {
    width: auto;
    height: 26px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 16px;
}